@tailwind base;
@tailwind components;
@tailwind utilities;



.displaySideBar {
     width: 0px !important;
}

.hi-text {
     background: linear-gradient(to right, blue, deeppink);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     color: transparent;
}

.main-area-wrapper::-webkit-scrollbar {
     display: none;
}